$purple: 				#8273ed;
$white: 				#fff;
$light-yellow:			#feffba;
$black:					#000;
$light-green:			#acbcbf;
$light-purple:			#aea4f3;

$track-title: 			$black;
$user: 					$light-green;
$menu:	 				$light-yellow;
$active-track-bg: 		$purple;
$active-track-title: 	$white;
$active-track-user:		$light-purple;
$secondary-bg-color:	$light-yellow;
$seekbar: 				darken($purple, 40%);

*{
	box-sizing: border-box;
}
body, html{
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: "sofia-pro";
}
h1, h2, h3, h4{
	font-weight: normal;
	margin: 0;
}

.container{
	padding-top: 105px;
}

.js-state--mute { text-decoration: line-through; }
#showPlaylist.new:after {
	content: "new";
	font-size: .6em;
	background: red;
	display: inline-block;
	transform: translateY(-50%);
	color: #fff;
	padding: 0 5px 3px;
	border-radius: 3px;
}

.masthead {
	position: fixed;
	top: 0;
	height: 120px;
	width: 100%;
	z-index: 200;
}
.controls{
	position: fixed;
	bottom: 1em;
	left: 1em;
}
.control-button{
	background-color: $light-yellow;
	padding: 0.5em 0.8em;
	border-radius: 2px;
	margin-right: 0.5em;
	&:hover{
		background-color: $light-purple;

	}
}

.logo{
	font-size: 2em;
	line-height: 105px;
	padding: 0 1em;
	display: inline-block;
	background-color: #FFF;
	z-index: 200;
	float: left;
}
.search-container{
	background-color: $secondary-bg-color;
	padding: 1em 2em;
	z-index: 200;
	width: 50%;
	float: right;
}
.search-bar{
	background-color: $secondary-bg-color;
	width: 100%;
	text-align: right;
	padding: 0.5em;
	border: 0;
	color: black;
	font-size: 25px;
	transition: 300ms all ease;
	border-bottom: 3px solid black;
	&:focus{
		outline: none;
		//background-color: darken($secondary-bg-color, 10%);
	}
}
.search-result {
	padding: 0;
	.track__played { display: none; }
}

#player{

}

.track-search-list{

}
.track{
	list-style: none;
	clear: both;
	height: 144px;
	width: 100%;
	position: relative;
	cursor: pointer;
	&.selected{
		background-color: darken($light-yellow, 20%);
	}
	&:after{
		//display: block;
		display: none;
		content: "";
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 3em;
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	}
	.now-playing &:after{
		display: none;
	}
	.now-playing &{
		background-color: $active-track-bg;
	}
	.search-container &{
		height: 100px;
	}
}

.search-container .track{
	font-size: 12px;
}


.track-inner{

}
.track__info{
	position: absolute;
	width: calc(100% - 148px);
	top: 0;
	right: 0;
	height: 100%;
	display: block;
	&:before {
		content: "";
		display: inline-block;
		width: 0;
		height: 100%;
		vertical-align: middle;
	}

	.va {
		vertical-align: middle;
		display: inline-block;
		width: 99%;
	}
	.search-container &{
		width: calc(100% - 68px);
	}
}

.track__img {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 50%;
	overflow: hidden;
	padding: 22px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	.search-container &{
		width: 60px;
		height: 60px;
		padding: 5px;
	}
}
.track__title{
	color: $track-title;
	font-size: 1.5em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	.now-playing &{
		color: $active-track-title;
	}

}

.track__seek {
	display: none;
	height: 15px;
	width: 90%;
	overflow: hidden;
	.now-playing &{
		display: block;
	}
}

.track__seek__indicator{
	display: block;
	height: 100%;
	background: $seekbar;
	width: 100%;
	position: relative;
}

.track__username{
	color: $user;
	.now-playing &{
		color: $active-track-user;
	}
}

.playlist {

	.close {
		position: absolute;
		top: 5px;
		right: 15px;
		font-size: 20px;
	}
}
