<!DOCTYPE html>
<html>
<head>
	<title>Monomono</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/assets/css/styles.css">
	<script src="//use.typekit.net/qps7jzk.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

</head>
<body>
	<div id="fb-root"></div>
	<div class="symbols"></div>
	<header class="masthead">
		<div class="logo">monomono</div>
	</header>

	<div class="search-container">

		<input type="text" class="search-bar js-search-input" placeholder="search">

		<ul class="js-search-result search-result">
			<!-- template -->
		</ul>
	</div>
	<div class="container">
		<div id="status"></div>
		<div class="js-playlist playlist">
			<ul>
				<!-- template -->
			</ul>
		</div>
	</div>
	<div class="chat-wrapper">
	<div class="chat-button js-toggle-chat">
		<svg viewBox="0 0 100 100" class="chat chat-icon icon">
		  <use xlink:href="/assets/svg/svg-symbols.svg#chat"></use>
		</svg>
	</div>
	<div class="chat-container">
		<div class="js-toggle-chat close-button">X</div>
		<div id="messages"><ul></ul></div>
		<form class="chat-form">
			<input type="text" placeholder="Chat..." disabled>
		</form>
	</div>
	</div>

	<div class="control-container">
		<span class="js-login control-button">Log in</span>
		<span class="js-mute mute control-button" id="mute">Mute</span>
		<span class="user-count control-button">Users: <span class="number-of-users js-number-of-users"></span></span>
	</div>

	<script>
		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="//connect.soundcloud.com/sdk.js"></script>
	<script src="/assets/js/vendor/handlebars-v2.0.0.js"></script>
	<script src="/assets/js/templates.js"></script>
	<script src="/assets/js/helpers.js"></script>
	<script src="/assets/js/vendor/socket.js"></script>
	<script src="/assets/js/room.js"></script>
</body>
</html>
