
$purple: 				#8273ed;
$white: 				#fff;
$light-yellow:			#feffba;
$black:					#000;
$light-green:			#acbcbf;
$light-purple:			#aea4f3;
$dark-gray:				#252523;
$light-gray:			#464642;
$mint-green:			#32c4a7;
$seekbar: 				#141414;

$track-title: 			$black;
$user: 					$light-green;
$main-color:	 		$mint-green;
$active-track-bg: 		$purple;
$secondary-bg-color:	$light-yellow;

$default-ease: cubic-bezier(0.76, 0.18, 0.32, 1.01);

*, *:after,*:before{
	box-sizing: border-box;
}
body, html{
	height: 100%;
	width: 100%;
	margin: 0;
	background: $dark-gray;
	font-family: "sofia-pro";
}
h1, h2, h3, h4{
	font-weight: normal;
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
}

.container{
	padding-top: 120px;
	padding-bottom: 40px;
}

.js-state--mute { text-decoration: line-through; }

.masthead {
	position: fixed;
	top: 0;
	height: 120px;
	width: 100%;
	z-index: 3;
	background: $main-color;
}
.controls{
	position: fixed;
	top: 1em;
	right: 1em;
}

.control-container{
	position: fixed;
	bottom: 1em;
	left: 1em;
	z-index: 10;
}
.control-button{
	background-color: lighten($dark-gray, 10%);
	border-radius: 2px;
	color: white;
	padding: 0.5em;
	margin-right: 0.5em;
	display: inline-block;
}

/*
	FRONTPAGE
*/
.rooms {
	padding: 0;
	margin: 0;
	margin-top: 150px;
	list-style: none;
	text-align: center;

	.room {
		position: relative;
		width: 176px;
		height: 200px;
		display: inline-block;
		vertical-align: top;
		color: #fff;
		margin: -20px 5px;
	}

	a {
		color: inherit;
		display: block;
		width: 100%;
		height: 100%;
		text-align: center;
		text-decoration: none;
		position: relative;
		padding: 10%;
	}

	svg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		fill: $purple;
	}
}


/*
	ROOMS
*/
.search-button-container {
	float: right;
	margin-right: 20px;
	margin-top: 38px;
	font-size: 24px;
	> * { vertical-align: middle; }

	.search-button {
		display: inline-block;
		margin-left: 20px;
		cursor: pointer;
	}
	svg {
		width: 36px;

		g { transition: transform .3s $default-ease; }
		#closeSearch { transform: translate(-50px, 50px); }
		.search--open & {
			#lines { transform: translate(-50px, 50px); }
			#closeSearch { transform: translate(0px, 0px); }
		}
	}
}



.logo{
	font-size: 2em;
	line-height: 105px;
	padding: 0 1em;
	display: inline-block;
	float: left;
}
.search-container{
	top: 0px;
	z-index: 10;
	width: 100%;
	height: 120px;
	left: 0;
	position: fixed;
	transition: opacity .2s $default-ease;
	//background-color: $secondary-bg-color;

	.search--open & { opacity: 1; }

}


.search-button,  {
	position: absolute;
	right: 20px;
	top: 30px;
	height: 37px;
	width: 37px;
	cursor: pointer;
}

.search-bar{
	background-color: darken($main-color,10%);
	//background-color: white;
	width: 320px;
	padding: 0 1em;
	height: 50px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 1em;
	line-height: 50px;
	border: 0;
	color: black;
	font-size: 1em;
	transition: 300ms all $default-ease;
	border-radius: 3px;
	&:focus{
		outline: none;
		right: 0;
		line-height: 120px;
		font-size: 2em;
		width: 100%;
		height: 100%;
		background-color: #3A3A30;
		color: white;
		border-radius: 0;
		//background-color: darken($secondary-bg-color, 10%);
	}
	&::-webkit-input-placeholder{
		color: #454545;
	}
	&:focus::-webkit-input-placeholder{
		color: transparent;
	}
}
.search-result {
	position: fixed;
	top: 120px;
	width: 100%;
	left: 0;
	padding: 0;
	margin: 0;
	background-color: $secondary-bg-color;
	& .track:first-child{
		padding-top: 1em;
	}
	.track__played { display: none; }
}

// NAMESPACE THIS MOTHER!
.track{
	list-style: none;
	clear: both;
	height: 72px;
	width: 100%;
	padding: 0 1em;
	font-size: 14px;
	color: #fff;
	position: relative;

	&--highlight{
		background-color: darken($secondary-bg-color, 10%);
	}

	&--now-playing {
		background-color: $active-track-bg;
	}

	&__delete {
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
		cursor: pointer;
		opacity: 0;
		transition: 300ms all $default-ease;
		border: 1px solid white;
		padding: 0.3em 0.5em 0.4em;
		.now-playing &, .search-result &{
			display: none;
		}
		&:hover{
			background-color: #fff;
			color: #454545;
		}
	}

	&__assets {
		display: block;
		z-index: 2;
		position: absolute;
		left: 1.5em;
		top: 0;
		border-radius: 50%;
		overflow: hidden;
		width: 46px;
		height: 46px;
		top: 50%;
		transform: translateY(-50%);
	}

	&__added-icon {
		text-align: center;
		background: #fff;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
		transition: opacity .2s $default-ease;
		opacity: 0;

		.added &{ opacity: 1; }

		svg {
			width: 16px;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&__img{
		width: 100%;
		border-radius: 50%;
		overflow: hidden;
	}

	&__seek {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		background: #1c1c1c;
		.track--now-playing &{
			display: block;
		}
	}
	&__title{
		color: #fff;
		font-size: 18px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		.search-container & { color: $dark-gray; }

		span {
			opacity: .2;
			padding-left: 6vw;
		}
	}

	&--played { opacity: .25; }
	&:hover{
		.track__delete{
			opacity: 1;
			transform: translateY(-50%);

		}
	}

	.plays {
		font-size: 14px;
		svg {
			height: 10px;
			fill: #fff;
			margin-right: 3px;
		}
	}
}

&.added .track__info { opacity: .25; }

.search-container .track {
	font-size: 12px;
	color: #000;
	svg { fill: #000; }
}

.track__info{
	position: absolute;
	width: calc(100% - 90px);
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	right: 0;
	height: 100%;
	display: block;

	.search-container &{
		width: calc(100% - 90px);
	}
}

.track__seek__indicator{
	display: block;
	height: 100%;
	background: $seekbar;
	width: 100%;
	position: relative;
}

.track__username{
	color: $user;
}

.playlist {
	position: relative;
	z-index: 3;

	.plays { display: none; }
}

.chat-wrapper{
	width: 300px;
	height: 500px;
	position: fixed;
	bottom: 2em;
	right: 2em;
	overflow: hidden;
	z-index: 4;
	pointer-events: none;
	&.show{

		pointer-events: all;
	}
}

.chat-button{
	pointer-events: all;
	position: absolute;
	bottom: 1em;
	right: 1em;
	height: 75px;
	width: 75px;
	background-color: #1c1c1c;
	overflow: hidden;
	transition: 700ms all $default-ease;
	border-radius: 50%;
	transition-delay: 300ms;
	.show &{
		transition-delay: 0ms;
		height: 100vw;
		width: 100vw;
		bottom: 50%;
		right: 50%;
		transform: translate(50%, 50%);
	}
}

.chat-icon{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: opacity 300ms ease;
	transition-delay: 1000ms;
	fill: $main-color;
	.show &{
		transition-delay: 0ms;
		opacity: 0;
	}
}

.chat-container {
	top: calc(100vh - 80px);
	//height: calc(100vh - 120px);
	height: 100%;
	right: 0;
	width: 300px;

	// rbga(0,0,0, 0.80)
	z-index: 10;

	transition: 500ms all $default-ease;
	transition-delay: 0ms;
	opacity: 0;
	.show & {
		transition-delay: 500ms;

		opacity: 1;
		top: 120px;
		pointer-events: all;
	}

	h2 {
		text-align: center;
		position: relative;
		color: white;
		padding: 1em;
	}

	input {
		position: absolute;
		background-color: black;
		border: none;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 60px;
		padding: 15px;
		color: white;
	}
}

.chat-form{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
}
.close-button{
	position: absolute;
	right: 10px;
	top: 1em;
	text-align: center;
	transition: transform .3s ease;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
	z-index: 5;
	color: white;
}

#messages {
	position: absolute;
	top: 0;
	bottom: 70px;
	left: 0;
	right: 0;
	overflow: auto;
	&:before{
		position: absolute;
		//content: "";
		z-index: 500;
		height: 30px;
		width: 100%;
		left: 0;
		top: 0;
		background: linear-gradient(to bottom, #1c1c1c 0%,rgba(0,0,0,0) 100%); /* W3C */
	}
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
}

.message {
	padding: 12px;
	color: white;
	&__image {
		border-radius: 50%;
		display: inline-block;
		vertical-align: top;
		width: 40px;
	}

	&__text-container {
		width: calc(100% - 60px);
		margin-left: 10px;
		display: inline-block;
		vertical-align: top;
	}

	&__name {
		display: block;
		font-weight: bold;
	}
}

@import "../svg/svg-symbols.css";