<li class="message">
    <img class="message__image" src="http://graph.facebook.com/{{ id }}/picture">
    <div class="message__text-container">
        <span class="message__name">{{ name }}</span>
        <span class="message__msg">{{ msg }}</span>
    </div>
</li>
