
<div class="track__inner">
    <img class="track__img" src="{{artwork_url}}"/>
    <div class="track__info">
    	<div class="va">
	    	<h4 class="track__title">{{title}}</h4>
	    	<h4 class="track__username">{{user.username}}</h4>
            <div class="track__seek">
            	<span class="track__seek__indicator"></span>
            </div>
    	</div>
    </div>
</div>
