<div class="track__inner">
    <img class="track__img" src="{{artwork_url}}"/>
    <div class="track__info">
    	<div class="va">
	    	<h4 class="track__title">{{title}}</h5>
	    	<h4 class="track__username">{{user.username}}</h5>
    	</div>
    </div>
</div>
