<div class="track__inner">
    <img class="track__img" src="{{artwork_url}}"/>
    <div class="track__info">
    	<div class="va">
	    	<h4 class="track__title">{{title}}</h4>
	    	<h4 class="track__username">{{user.username}}</h4>
            <h4 class="track__played"><span></span></h4>
    	</div>
    </div>
</div>
